*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    color: white;
    background-color: rgb(46, 81, 236);
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    padding: 0.51rem;
    padding-left: 7px;

    ul{
        // border: 2px solid white;
        display: flex;
        list-style: none;
        font-weight: bold;
        
        li{
            // border: 2px solid red;
            margin: auto 10px;
            
            a{
                text-decoration: none;
                font-size: large;
                color: white;
                text-decoration: none;
            }
        }
    }
}